body {
    font-family: Arial, sans-serif;
    background-color: rgb(44, 43, 43);
    margin: 0;
    padding: 0;
}

a {
    color: white;
    text-decoration: none;
}

a:link, a:visited {
    color:lightblue;
    text-decoration:underline;
}

h1 {
    color: white;
    text-align: center;
}

h2, h3 {
    color: white;
    padding-left: 5%;
}

p {
    color: white;
    text-align:justify;
    display: inline-block;
    max-width: 70%;
    padding-left: 5%;
}