/* White color: #F3F8F2 */
/* Nav bar gray: #494850 */
/* Nav bar hover: #BFBEC5 */
/* Dark gray: #2C2C34 */
/* Darkest gray (text): #08080A */
/* Links, blue-ish: #C0C8E3 */

html, body {
    margin: 0;
    min-width: none;height: 100%;
    background-color: #2C2C34 !important;
}

#EMDH-dev-tab a {
    font-weight: bold;
}

.site-content,
div .section-content {
    background-color: #2C2C34 !important;
}

.site-content h1, .site-content h2,
.site-content h3, .site-content h4,
.site-content h5, .site-content h6,
a, p {
    color: #F3F8F2;
    padding-top: 2%;
    font-family: var(--bs-body-font-family);
}

.site-content h3 {
    padding-left: 2%;
}

.site-content p {
    color: #F3F8F2;
    padding-left: 2%;
}

.site-content a:link, .site-content a:visited:not(.btn) {
    color: #C0C8E3;
    text-decoration: underline;
}

.site-content .btn:link, .site-content a:visited:not(.btn) {
    text-decoration: none;
}

/*
.site-content li a:link, .site-content li a:visited {
    color: #08080A;
    text-decoration: underline;
} */

/* .site-content h1 {
    color: #F3F8F2;
    text-align: center;
}

.site-content h3 {
    color: #F3F8F2;
    padding-left: 15%;
} */

/* .site-content p {
    color: #F3F8F2;
    text-align:justify;
    display: inline-block;
    max-width: 70%;
    padding-left: 15%;
} */

/* NAVBAR =============== */
#navbar {
    width: 100%;
}

#navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #494850;
}
  
#navbar li:not(#EMDH-dev-tab) {
    float: left;
    border-right:1px solid #F3F8F2;
}

#navbar li a {
    display: block;
    color: #F3F8F2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#navbar li a:link {
    text-decoration: none;
}

#navbar li:not(#EMDH-dev-tab) a:hover:not(.active) {
    background-color: #bfbec5;
}

#navbar li a:not(#selected-tab) {
    color: #F3F8F2;
}

#navbar #selected-tab {
    background-color: #F3F8F2;
    color: black;
}

#navbar #EMDH-dev-tab {
    float: right;
}

.site-content .back-button {
    background-color: #F3F8F2;
    border: none;
    color: #08080A;
    padding: 0.75% 2%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 5%;
    margin-bottom: 5%;
    width: fit-content;
}

.legal-text {
    margin-left: 5%;
    color: #F3F8F2;
}

.legal-text a {
    color: #C0C8E3;
    text-decoration: underline;
}

/* BOOTSTRAP CARD OVERRIDES (PROJECTS) =============== */
.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}

div .card-body {
    background-color: #F3F8F2;
}

div .card-body h5,
div .card-body p {
    color: #08080A;
}

.platform-text {
    font-style: italic;
    color: #808080;
}

/* SOCIALS FOOTER =============== */
footer {
    padding-bottom: 2%;
}

.socials-footer a {
    color: #C0C8E3;
    text-decoration: underline;
}
