/* White color: #F3F8F2 */
/* Nav bar gray: #494850 */
/* Nav bar hover: #BFBEC5 */
/* Dark gray: #2C2C34 */
/* Darkest gray (text): #08080A */
/* Links, blue-ish: #C0C8E3 */

body {
    font-family: Arial, sans-serif;
    background-color: #2C2C34;
    margin: 0;
    padding: 0;
}

a {
    color: #F3F8F2;
    text-decoration: none;
}

.site-content a:link, .site-content a:visited {
    color: #C0C8E3;
    text-decoration: underline;
}

.site-content li a:link, .site-content li a:visited {
    color: #08080A;
    text-decoration: underline;
}

.site-content h1 {
    color: #F3F8F2;
    text-align: center;
}

.site-content h3 {
    color: #F3F8F2;
    padding-left: 15%;
}

.site-content p {
    color: #F3F8F2;
    text-align:justify;
    display: inline-block;
    max-width: 70%;
    padding-left: 15%;
}

#navbar {
    width: 100%;
}

#navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #494850;
}
  
#navbar li:not(#EMDH-dev-tab) {
    float: left;
    border-right:1px solid #F3F8F2;
}

#navbar li a {
    display: block;
    color: #F3F8F2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#navbar li a:link {
    text-decoration: none;
}

#navbar li:not(#EMDH-dev-tab) a:hover:not(.active) {
    background-color: #bfbec5;
}

#navbar li a:not(#selected-tab) {
    color: #F3F8F2;
}

#navbar #selected-tab {
    background-color: #F3F8F2;
}

#navbar #EMDH-dev-tab {
    float: right;
}

.site-content .project-item {
    border: 3px solid #F3F8F2;
    border-radius: 5px;
    width: 90%;
    margin: 0 auto;
    padding: 20px;
    max-width: 1000px;
}

.site-content .project-item h2 {
    color: #F3F8F2;
    text-align: left;
    margin-bottom: 1%;
}

.site-content .project-item h4 {
    color: #F3F8F2;
    text-align: left;
    padding-left: 0;
}

.site-content .project-link {
    font-weight: normal;
}

.site-content .project-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.site-content .project-info {
    flex: 1;
    padding-right: 20px;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.site-content .project-info h4 {
    margin-top: 0;
    margin-bottom: 20px;
}

.site-content .project-button {
    margin-top: auto;
    background-color: #F3F8F2;
    border: none;
    color: #08080A;
    padding: 2% 4%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 5%;
    width: fit-content;
}

.site-content .project-image-thumbnail {
    width: 50%;
    height: auto;
}

.site-content .back-button {
    background-color: #F3F8F2;
    border: none;
    color: #08080A;
    padding: 0.75% 2%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 5%;
    margin-bottom: 5%;
    width: fit-content;
}

.legal-text h1, .legal-text h2, .legal-text h3, .legal-text h4, .legal-text p, .legal-text li {
    color: #F3F8F2;
    margin-left: 5%;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;    
    padding: 2% 0;
    border-top: 1px solid #F3F8F2;
    color: #F3F8F2;
}
